#home {
  z-index: 3;
  color: #2bb29d;
}

#home .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typed-cursor {
  opacity: 1;
  color: white;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (orientation: landscape) {
  #home div {
    width: 50%;
    text-align: center;
  }

  #home #draw-logo {
    width: 50%;
  }

  #home #draw-tagline {
    width: 20%;
  }
}

@media all and (orientation: portrait) {
  #home div {
    width: 80%;
  }

  #home #draw-logo {
    width: 90%;
  }

  #home #draw-tagline {
    width: 50%;
  }
}
